:root {
    --color-primary: #3370D9;
    --color-secondary: #26312D;
    --color-offwhite: #F5F6FF;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "aktiv-grotesk", Arial, Helvetica, sans-serif;
}

nav ul {
    float: right;
}
nav ul li {
    display: inline;
    float: right;
    position: relative;
    margin-left: 30px;
}

#heroimg {
    max-height: 70vh;
}

#heroimg img {
    min-width:100%;
    max-height:100%;
    object-fit:cover;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

@layer base {
    body {
        @apply text-secondary
    }
    h1,h2,h3 {
        @apply text-primary;
        @apply leading-tight
    }
    h4,h5,p {
        @apply text-secondary;
    }
    h1,h2 {
        @apply font-black;
        @apply uppercase;
    }
  }